<hr>


<a href="/admin/posts/add"><button class="btn btn-success mt-4">Add Post</button></a>


{{#each posts}}
    <div class="card">
        <div class="card-body mt-4">
            <h4>{{title}}</h4>
            <p> Description: {{description}}</p>
            <small> Date: {{date}}</small><br>
            <small>Category: {{category.name}}</small>
            <br>
            <a href="/admin/posts/edit/{{_id}}"><button class="btn btn-success">Edit Post</button></a>
            <a href="/admin/posts/delete/{{_id}}"><button class="btn btn-danger">Delete Post</button></a>
        </div>
    </div>
{{else}}
    <p>Empty post</p>
{{/each}}